.contener{
    margin-left: -8px;
    margin-right: -7px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.row{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
}

.row::before, .row::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
    min-width: 1px;
    min-height: 1px;
    background: transparent;
    position: relative;
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    flex-basis: auto;
    flex-grow: 1;
    max-width: 100%;
    border: none !important;
    width: 100%;
}



/**
Screen Ipad landscape / portrait
 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .col-s-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-s-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-s-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-s-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-s-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-s-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-s-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-s-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
Desktops
 */
@media only screen and (min-width : 1224px){

    .col-l-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;

    }

    .col-l-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-l-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-l-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-l-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-l-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-l-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-l-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}
/**
large screen
 */
@media only screen and (min-width : 1824px) {
    .col-xl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}